#Print function - you canuse both single and double quotes for string value, but double quotes is better

In [2]:
print("Hello Earth!, It's my world")

Hello Earth!, It's my world

In [4]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [5]:
print("a"+"b")

ab

In [7]:
print("a","B");

a B

In [85]:

yourname=input("Enter your Name : ")
age=input("enter your age")
print(f"Hello {yourname}! you have {age} year\'s of experience in this world.")

Enter your Name :  Raji
enter your age 51

Hello Raji! you are having 51 year's of experience in this world

In [43]:
a=input("enter your first number..")
b=input("enter your second number..")
operator=input("enter your operator [+,-,*,/]..")
n1=float(a)
n2=float(b)
if(operator=="+"):
    print(n1+n2)
if(operator=="-"):
    print(n1-n2)
if(operator=="*"):
    print(n1*n2)
if(operator=="/"):
    print(n1/n2)

enter your first number.. 7
enter your second number.. 8
enter youe operator [+,-,*,/].. /

0.875

In [44]:
print("Hello")

Hello

In [63]:
num=int(input("Enter any 4 digit Number"))
digit4=num%10
num=num//10
digit3=num%10
num=num//10
digit2=num%10
digit1=num//10
print(f"Reversed form of the given number is.. {digit4}{digit3}{digit2}{digit1}")

Enter any 4 digit Number 9473

Reversed form of the given number is.. 3749

In [67]:
num=int(input("Enter any 3 digit Number"))
digit3=num%10
num=num//10
digit2=num//10
digit1=num%10
sum=digit1+digit2+digit3
print(f"Sum of the digits of the given number is.. {sum}")

Enter any 3 digit Number 731

Sum of the digits of the given number is.. 11

In [77]:
disianceinmiles=input("Enter the value to convert into Miles..")
disianceinkilom=input("Enter the value to convert into Kilometers..")
print(f"{disianceinmiles} Kilometer is equal to {float(disianceinmiles)*1.609344} miles")
print(f"{disianceinkilom} miles is equal to {float(disianceinkilom)/1.609344} kilometers")

Enter the value to convert into Miles.. 10
Enter the value to convert into Kilometers.. 16

10 Kilometer is equal to 16.09344 miles
16 miles is equal to 9.941939075797343 kilometers

In [80]:
tempincelcius=input("Enter the temp in celcius..")
print(f"{tempincelcius} Celcius is equal to {((float(tempincelcius)*(9/5))+32)} in Farenheight")

Enter the temp in celcius.. 23

23 Celcius is equal to 73.4 in Farenheight

In [88]:
length=input("enter the length of the rectangle : ")
width=input("enter the width of the rectangle : ")
print(f"Area of the given rectangle size{length}X{width} is {float(length)*float(width)}")

enter the length of the rectangle :  2
enter the width of the rectangle :  5

Area of the given rectangle size2X5 is 10.0

# this is from github